@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #fff;
}

.navbar {
    background-color: #1F2937;
    height: 48px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    height: 100%;
    gap: 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    color: #E5e7eb;
}

.nav {
 
    font-size: 18px;
}

.nav ul {
    display: flex;
    gap: 30px;
}

.logo {
   
    font-size: 24px;
}

ul {
    list-style-type: none;
}

.nav ul a {
    color: #E5e7eb;
    text-decoration: none;
}

.nav ul a:hover {
    color: green;
}

.hero {
    background-color: #1F2937;
}

.hero .container {
    display: flex;
    background-color: #1F2937;
    height: 500px;
    align-items: center;
}

.hero .container img {
    width: 55%;
    height: 55%;
    box-shadow: rgba(83, 161, 83, 0.35) 0px 5px 15px;
    border: 2px solid rgba(0, 128, 0, 0.356);
    border-radius: 15px;
    
}

.hero .container img:hover, img:focus, img:active {
    box-shadow: rgba(83, 161, 83, 0.35) 0px 5px 25px;
    transition-duration: 0.9s;
    
}

.hero .container h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.hero .container h1 span {
    color: rgb(41, 155, 41);
}

.hero .container p {
    font-size: 18px;
    line-height: 1.4;
    margin-right: 50px;
    margin-bottom: 10px;
}

.hero .container button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 22px;
    padding-top: 9px;
    text-align: center;
    text-decoration: none;
    border-radius: 9px;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 2px;
    cursor: pointer;
    transition-duration: 0.3s;
    margin-left: 2px;
}

.hero .container button:hover, button:focus, button:active {
    background-color: rgba(41, 155, 41, 0.753);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.08);
}

.info {
    background-color: white;
}

.info .container {
    color: #1F2937;
    font-weight: bolder;
    background-color: #fff;
    font-size: 28px;
    margin-top: 30px;
    text-align: center;
}

.boxes .container .box img {
    width: 200px;
    height: 200px;
    background-color: rgb(218, 197, 197);
    border: 3px solid #3882F6;
    border-radius: 21px;
}

.boxes .container {
    display: flex;
    height: 400px;
    justify-content: space-between;
}

.boxes .container .box {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
  
}

.boxes .container .box h3 {
    margin-top: 10px;
}

.boxes .container .box p {
    margin-top: 1px;
    text-align: center;
}

.boxes .container .box img:hover {
    background-color: rgba(41, 155, 41, 0.753);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.08);
    transition-duration: 0.3s;
}

.quote {
    background-color: #E5E7EB;
}

.quote .container {
    background-color: #E5E7EB;
    color: #1F2937;
    height: 400px;
    font-size: 32px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}


.quote .container .signature {
    align-self: flex-end;
    font-style: normal;
    font-weight: bolder;
    margin-right: 50px;
}

.action-call {
    background-color: #fff;
    height: 300px;
}

.action-call .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.container .action {
    display: flex;
    border-radius: 7px;
    background-color: #3882F6;
    padding: 30px 120px;
    width: 1100px;
    justify-content: space-between;
}

.action .action-text {
    margin-right: 25px;
}

.action .signup-button button {
    border: 2px solid white;
    background-color: #3882F6;
    color: white;
    text-align: center;
    text-decoration: none;
    align-self: flex-end;
    font-size: 16px;
    border-radius: 9px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 5px;
    padding: 8px 28px;
    transition-duration: 0.3s;
}

.action .signup-button button:hover, button:focus, button:active {
    background-color: rgba(41, 155, 41, 0.753);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.08);
}

.footer {
    background-color: #1F2937;
    height: 100px;
}

.footer .container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.footer .container .footer-text {
    align-self: center;
}

.footer-text span {
    margin: 0 6px;
}