@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a1c3ff;
}

.navbar {
    background-color: yellow;
    height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    gap: 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    border: 1px solid green;

}

.nav {
    margin-right: 100px;
    font-size: 18px;
}

.nav ul {
    display: flex;
    gap: 30px;
}

.logo {
    margin-left: 100px;
    font-size: 24px;
}

ul {
    list-style-type: none;
}